# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyd
*.pyo
*.egg-info/
.Python
build/
dist/

# Virtual environment
venv/
env/
*.env

# Databases
*.sqlite3
*.db

# Django specific
*.log
local_settings.py  # local specific settings
media/             # User-uploaded files (usually handled by cloud storage in prod)
static_root/       # Collected static files
staticfiles/       # Collected static files (managed by collectstatic)

# Environment variables
.env


# Operating System files
.DS_Store
.localized
Thumbs.db

.vs/
*.vsidx
*.wsuo
*.json.user
*.bin
bin/
obj/